* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    

}



.login-box {

    background-color: white;
    height:700px;
    width: 450px;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 5px 5px 10px 2px rgba(235, 235, 235, 0.8);
    
}

.vector-art {

    width: 700px;
    height: 800px;
    margin-left: 700px;
    margin-top: -720px;
}

.login-box-content {

  display: flex;
  flex-direction: column;
  
}


a {

   text-decoration: none;
   color: blueviolet;

}

a:hover {

    color: rgb(90, 32, 145);
    text-decoration: underline;

}

h1,p {

   margin-top: 30px;
   margin-left: 40px;
    
}



p{

color: rgb(162, 162, 162);    

}

#sign-up-option {
 
 text-align: center;
 margin-left: -10px;
 margin-bottom: 15px;
 font-weight: lighter;

}

.email-input, .password-input  {

width: 350px;
height: 50px;
border-radius: 5px;
margin-left:40px;
border-style: solid;
border-color: rgb(162, 162, 162);


}

label {

   margin-left: 40px;
   font-weight: bold;
   font-size: 16px;
  

}

form {

    margin-top: 40px;

}

 .remember-me{

color:rgb(162, 162, 162) ;
font-weight: lighter;



}

.login-button {

    width: 350px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    margin-left: 40px;
    background-color: blueviolet;
    font-weight: bold;
    color: white;
    margin-top: 20px;

}


.login-button:hover {

    background-color: rgb(95, 33, 153);
    cursor: pointer;

}

.google-button {

     width: 150px;
     height: 50px;
     border-style: solid;
     border-width: 1.5px;
     background-color: white;
     border-radius: 5px;
     border-color: rgb(255, 108, 55);
     color:  rgb(255, 108, 55);
     margin-left: 40px;

}

.google-button:hover {
 
    background-color: rgb(255, 108, 55);
    color: white;
    cursor: pointer;

}


.facebook-button {

    width: 150px;
    height: 50px;
    border-style: solid;
    border-width: 1.5px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(75, 62, 251);
    color:  rgb(75, 62, 251);
    margin-left: 240px;
    margin-top: -50px;


}


.facebook-button:hover {
 
    background-color: rgb(75, 62, 251);
    color: white;
    cursor: pointer;


}
